In [37]:
import pandas as pd
from nltk.tokenize import word_tokenize

ModuleNotFoundError: No module named 'nltk'

In [28]:
def load_dataset(file_path):
    sentences = []
    labels = []
    
    with open(file_path, 'r') as f:
        lines = f.readlines()
        sentence = []
        
        for line in lines:
            line = line.strip() # remove leading/trailing whitespaces
            if line:
                if not line.startswith('ARG') and not line.startswith('REL') and not line.startswith('NONE'):
                    sentence = line
                else:
                    current_label = line
                    sentences.append(sentence)
                    labels.append(current_label)
                    
    return sentences, labels

In [29]:
# load the dataset into a pandas dataframe
sentences, labels = load_dataset('./Dataset/original_cleaned')
df = pd.DataFrame({
    'Sentence': sentences,
    'Labels': labels
})

In [30]:
df.shape

(166889, 2)

In [31]:
df

,Sentence,Labels
0,Simon is quoted as saying `` if you 'd ever se...,ARG1 REL REL ARG2 ARG2 ARG2 ARG2 ARG2 ARG2 ARG...
1,Simon is quoted as saying `` if you 'd ever se...,NONE NONE NONE NONE NONE NONE NONE NONE NONE N...
2,Simon is quoted as saying `` if you 'd ever se...,NONE NONE NONE NONE NONE NONE NONE ARG1 REL TI...
3,Simon is quoted as saying `` if you 'd ever se...,ARG1 NONE NONE REL REL NONE NONE NONE NONE NON...
4,The couple had no children .,ARG1 ARG1 REL ARG2 ARG2 NONE
...,...,...
166884,TIME ARG1 REL NONE NONE ARG2 ARG2 ARG2 ARG2 AR...,NONE NONE NONE NONE NONE ARG1 REL ARG2 ARG2 AR...
166885,TIME ARG1 REL NONE NONE ARG2 ARG2 ARG2 ARG2 AR...,NONE NONE NONE NONE NONE NONE NONE NONE NONE N...
166886,This was the time when Yang Luchan made the Ch...,ARG1 REL ARG2 ARG2 ARG2 ARG2 ARG2 ARG2 ARG2 AR...
166887,This was the time when Yang Luchan made the Ch...,NONE NONE TIME TIME NONE ARG1 ARG1 REL ARG2 AR...
166888,This was the time when Yang Luchan made the Ch...,NONE NONE NONE NONE NONE NONE NONE NONE ARG1 A...

In [33]:
# convert all sentences to lower case
df['Sentence'] = df['Sentence'].str.lower()

In [35]:
# tokenization